QPalette{background:#D4D4D4;}*{outline:0px;}

QMenu 
{
	background-color : rgb(253,253,254); 
	padding:0px;
	border-radius:15px;
}

QMenu::item 
{
	font-size:10pt;
	color: rgb(0,0,0);
	background-color:rgb(253,253,254);
	padding: 8px 25px 6px 15px;
	margin: 0px;
}

QMenu::item:selected 
{
	background-color : rgb(236,236,237);
}

QMenu::right-arrow
{
	image:url(:/qss/res/right_arrow.png);
}

QMenu::icon:checked 
{
	background: rgb(253,253,254);
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
}

QMenu::icon:checked:selected 
{
	background-color : rgb(236,236,237);
}

QMenu::separator 
{
	height: 1px;
	background: #E6E8EB;
}

QLineEdit 
{
	border-style:none;
	border-radius: 1px;
	padding: 3 3px;
	background: #D4D6D9;
}

QScrollBar:horizontal
{
	background:none;
	padding:0px;
	border-radius:6px;
	max-height:12px;
}

QScrollBar::handle:horizontal
{
background:#181818;
min-width:50px;
border-radius:6px;
}

QScrollBar::handle:horizontal:hover
{
background:#2A2C32;
}

QScrollBar::handle:horizontal:pressed
{
background:#2A2C32;
}

QScrollBar::add-page:horizontal{
background:none;
}

QScrollBar::sub-page:horizontal
{
background:none;
}

QScrollBar::add-line:horizontal
{
background:none;
}

QScrollBar::sub-line:horizontal
{
background:none;
}

QScrollBar:vertical
{
	background:#E6E8EB;
	padding:0px;
	border-radius:4px;
	max-width:8px;
}

QScrollBar::handle:vertical
{
	background:#92969B;
	min-height:50px;
	border-radius:4px;
}

QScrollBar::handle:vertical:hover
{
background:#2A2C32;
}

QScrollBar::handle:vertical:pressed
{
background:#2A2C32;
}

QScrollBar::add-page:vertical
{
background:none;
}

QScrollBar::sub-page:vertical
{
background:none;
}

QScrollBar::add-line:vertical{
background:none;
}

QScrollBar::sub-line:vertical{
background:none;
}

QListView
{
    background:#E6E8EB;
    border-style:none;
}

QListView::item:selected
{
    color:#000000;
    background:#C3C5C7;
}

QListView::item:hover
{
    background:#D7D9DB;
}

QListView::item
{
    border-bottom: 1px solid #DADCDF;
}

/*************************************************
*  iconfont 按钮
*************************************************/

.IconfontBtn
{
    background:none;
    border-style:none;
    color:#B9CCE4;
}

.IconfontBtn:hover
{
    color:#FFFFFF;
}

.IconfontBtn:pressed
{
    color:#FFFFFF;
}

.IconfontBtn:checked
{
    color:#FFFFFF;
}

.IconfontBtn:disabled
{
    color:#D7D7D7;
}

.IconfontBtn[white_bk="true"]
{
    background:none;
    border-style:none;
    color:#6E7882;
}

.IconfontBtn[white_bk="true"]:hover
{
    color:#6E78FF;
}

.IconfontBtn[white_bk="true"]:pressed
{
    color:#6E78FF;
}

.IconfontBtn[white_bk="true"]:checked
{
    color:#6E78FF;
}

.IconfontBtn[white_bk="true"]:disabled
{
    color:#D7D7D7;
}

QWidget[form="mainwnd"]
{
    border: 1px solid #366CB3;
	background:#FFFFFF;
}

QWidget[form="mainwnd"] QPushButton[toolbar="true"],QPushButton[toolbar_close="true"]
{
	color:#6E7882;
    background:none;
}

QWidget[form="mainwnd"] QPushButton[toolbar="true"]:hover
{
	color:#6E7882;
    background: #E5E5E5;
}

QWidget[form="mainwnd"] QPushButton[toolbar="true"]:pressed
{
	color:#6E7882;
    background: #D2D2D2;
}

QWidget[form="mainwnd"] QPushButton[toolbar_close="true"]:hover
{
	color:#FFFFFF;
    background: #F44336;
}

QWidget[form="mainwnd"] QPushButton[toolbar_close="true"]:pressed
{
	color:#FFFFFF;
    background:#DC3C30;
}

QWidget[form="nav"]
{
    background:#366CB3;
}

QWidget[form="userdetail"]
{
	border: 1px solid #366CB3;
    background:#FFFFFF;
	color:#000000;
}

QWidget[form="userdetail"] QLabel[link="true"]:hover,QLabel[link="true"]:hover
{
	color:#396EE6;
}

QWidget[form="userdetail"] QLabel[title="true"]
{
	color:#808080;
}

QWidget[form="userdetail"] QLabel[username="true"]
{
	font-size:14px;
}

QWidget[form="userdetail"] QLabel[sex="true"]
{
	color:#2090F4;
}

QWidget[form="userdetail"] QPushButton[sendmsg="true"]
{
    border-style:none;
    min-width: 72px;
    min-height: 32px;
    background: #118DF2;
    color: #FFFFFF;
	border-radius:2px;
}

QWidget[form="userdetail"] QPushButton[sendmsg="true"]:hover
{
    background: #46A7F6;
}

QWidget[form="userdetail"] QPushButton[sendmsg="true"]:pressed
{
    background: #0D7CF3;
}

QWidget[form="userdetail"] QPushButton[sendmsg="true"]:disabled
{
    background: #D7D7D7;
}

/*************************************************
* 自定义对话框basedlg
*************************************************/

QWidget[form="title"]
{
    color:#FFFFFF;
    background:#FFFFFF;
}

QWidget[form="title"] QLabel
{
    color:#FFFFFF;
}

QWidget[form="title"] QPushButton[toolbar="true"],QPushButton[toolbar_close="true"]
{
	color:#6E7882;
    background:none;
}

QWidget[form="title"] QPushButton[toolbar="true"]:hover
{
	color:#6E7882;
    background: #E5E5E5;
}

QWidget[form="title"] QPushButton[toolbar="true"]:pressed
{
	color:#6E7882;
    background: #D2D2D2;
}

QWidget[form="title"] QPushButton[toolbar_close="true"]:hover
{
	color:#FFFFFF;
    background: #F44336;
}

QWidget[form="title"] QPushButton[toolbar_close="true"]:pressed
{
	color:#FFFFFF;
    background:#DC3C30;
}

QWidget[form="basedlg"]
{
    background:#FFFFFF;
}

QWidget[form="basedlg"] .QPushButton
{
    border-style:none;
    min-width: 72px;
    min-height: 28px;
    background: #3D77DA;
    color: #FFFFFF;
}

QWidget[form="basedlg"] .QPushButton:hover
{
    background: #6598F0;
}

QWidget[form="basedlg"] .QPushButton:pressed
{
    background: #105DE2;
}

QWidget[form="basedlg"] .QPushButton:disabled
{
    background: #D7D7D7;
}

QWidget[form="basedlg"] .QPushButton#m_btnLogin
{
    border-radius:19px;
    min-height: 38px;
}

QWidget[form="basedlg"] .QLineEdit
{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
}

/*************************************************
* msgpane
*************************************************/

QWidget[form="msgpane"]
{
    color:#000000;
    background:#FFFFFF;
}

/*************************************************
* friendlist
*************************************************/

QWidget[form="friendlist"]
{
    color:#000000;
    background:#E6E8EB;
	border-right: 1px solid #D4D6D9;
}